<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>精读文章标注界面</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    <h2>
        <!--img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}"-->
        精读文章标注界面
    </h2>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
<footer>
    <small>&copy; 2021
        <a href="https://github.com/CircuitMurderer/Lang-teaching-platform">
            Li S., He J., Zhang C., Chen S., Zhao Y.
        </a>
    </small>
</footer>
</html>